* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-center {
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 5%;
}

.flex-container {
    display: flex;
    margin: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

img {
    height: 400px;
}

.flex-item {
    color: black;
    margin: 15px;
    border: 1px solid rgb(205, 203, 203);
    border-radius: 2px;
}

h5 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(161, 159, 159);
}

h3 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

.p-style {
    display: flex;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
}