* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    background-color: rgb(255, 166, 0);
    height: 60px;

}

.page {
    margin: 100px;
    margin-top: 50px;
}

.text-center {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 5%;
}

.flex-container {
    display: flex;
    margin: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
}

img {
    height: 300px;
}

#navbar-flex  {
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.nb-item {
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: space-around;
    color: white;
}

#height-logo {
    height: 30px;
}

.nb-icons{
    display: flex;
    justify-content: space-around;
    width: 150px;
    align-items: center;
    color: white;
}

.flex-item {
    color: black;
    margin: 15px;
    border: 1px solid rgb(205, 203, 203);
    border-radius: 2px;
    font-size: small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h5 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(185, 180, 180);
}

.p-style {
    display: flex;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
}

span {
    color: black;
    padding-left: 4px;
    text-decoration: line-through;
}